  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Search California Beers</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form action="/bsearch" class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" name='beer' class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Search</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <div class='container' style:'padding: 0%'>
      <div class='row'>
        <h1 class='col-md-6' style='background-color: #000; color: #fff'>{{beer.beername}}</h1>
        <h2 class='col-md-6'>{{beer.style}}</h2>
      </div>
      <div class='row'>
        <h4 class='col-md-6'>ABV: {{beer.abv}}</h4>
        <h4 lass='col-md-6'>Rating: {{beer.avgrating}}</h4>
      </div>
    </div>

    <div class='container' style:'padding: 0%'>
      {{#each descs}}
        <div class='col-md-2' style='background-color: #000; color: #fff; padding: 0%; height: 3vh'>{{@key}}</div>
        <div style="width: {{this}}vw; height: 3vh; background-color: #000; color: #fff; padding-left: .5vw; margin-left: 17%"></div>
      {{/each}}
    </div>

    <div class='container'>
    <table class='table table-striped table-hover'>
      
        <thead>
          <tr>
                <th style='padding-left: 0%'>
                  Brewery
                  </th>
                <th style='padding-left: 0%'>
                    Beer
                  </th>
                  <th style='padding-left: 0%'>
                    Style
                  </th>
                  <th style='padding-left: 0%'>
                    ABV
                  </th>
                  <th style='padding-left: 0%'>
                    Rating
                  </th>
            </tr>
        </thead>
        <tbody>
          {{#each simbeers}}
              <tr class="clickable-row" data-href="/beer/{{beerid}}" data-beerid="{{beerid}}">
                <td style='padding-left: 0%'>
                    {{{brewery}}}
                  </td>
                <td style='padding-left: 0%'>
                    {{{beername}}}
                  </td>
                  <td style='padding-left: 0%'>
                    {{{style}}}
                  </td>
                  <td style='padding-left: 0%'>
                    {{{abv}}}
                  </td>
                  <td style='padding-left: 0%'>
                    {{{avgrating}}}
                  </td>
              </tr>
            {{/each}}
        </tbody>

    </table>
</div>