<form action = "/bsearch/">
		Search California Beers
		<input type='text' name='beer'>
		<input type="submit" value="Submit">
</form>	


<table id='beerstab'>
	
	<tr class="head">
    		<td>
        		|	Brewery 	|
        	</td>
    		<td>
        			Beer 	|
        	</td>
        	<td>
        		Style 	|
        	</td>
        	<td>
        		ABV 	|
        	</td>
        	<td>
        		Rating 	|
        	</td>
    	</tr>

	{{#each beers}}
    	<tr class="beer">
    		<td>
        		|	{{{brewery}}} 	|
        	</td>
    		<td>
        		{{{beername}}} 	|
        	</td>
        	<td>
        		{{{style}}} 	|
        	</td>
        	<td>
        		{{{abv}}} 	|
        	</td>
        	<td>
        		{{{avgrating}}} 	|
        	</td>
    	</tr>
  	{{/each}}

</table>

	