<form action = "/bsearch/">
		Search California Beers
		<input type='text' name='beer'>
		<input type="submit" value="Submit">
</form>	


<table id='beerstab'>
	
	<tr class="head">
    		<td>
        		brewery\t
        	</td>
    		<td>
        		Beer\t
        	</td>
        	<td>
        		Style\t
        	</td>
        	<td>
        		ABV\t
        	</td>
        	<td>
        		Rating\t
        	</td>
    	</tr>

	{{#each beers}}
    	<tr class="beer">
    		<td>
        		{{{brewery}}}\t
        	</td>
    		<td>
        		{{{beername}}}\t
        	</td>
        	<td>
        		{{{style}}}\t
        	</td>
        	<td>
        		{{{abv}}}\t
        	</td>
        	<td>
        		{{{avgrating}}}\t
        	</td>
    	</tr>
  	{{/each}}

</table>

	