<nav class='navbar navbar-inverse navbar-fixed-top'> 
    <div class="container">
        <form-control action = "/bsearch/">
        		Search California Beers
        		<input type='search' name='beer'>
        		<input type="submit" value="Search">
        </form-control>	
    </div>
</nav>

<p>
    <table class='table table-striped'>
    	
        <thead>
        	<tr>
            		<th>
            			Brewery
                	</th>
            		<th>
                		Beer
                	</th>
                	<th>
                		Style
                	</th>
                	<th>
                		ABV
                	</th>
                	<th>
                		Rating
                	</th>
            </tr>
        </thead>
        <tbody>
        	{{#each beers}}
            	<tr class="beer">
            		<td>
                		{{{brewery}}}
                	</td>
            		<td>
                		{{{beername}}}
                	</td>
                	<td>
                		{{{style}}}
                	</td>
                	<td>
                		{{{abv}}}
                	</td>
                	<td>
                		{{{avgrating}}}
                	</td>
            	</tr>
          	{{/each}}
        </tbody>

    </table>
</p>
	