<form action = "/bsearch/">
		Search California Beers
		<input type='text' name='beer'>
		<input type="submit" value="Submit">
</form>	


<table id='beerstab'>

	{{#each beers}}
    	<tr class="beer">
    		<td>
        		{{{brewery}}}
        	</td>
    		<td>
        		{{{beername}}}
        	</td>
        	<td>
        		{{{style}}}
        	</td>
        	<td>
        		{{{abv}}}
        	</td>
        	<td>
        		{{{avgrating}}}
        	</td>
    	</tr>
  	{{/each}}

</table>

	